<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {% if not user.is_authenticated %}

      <form method="POST">
        <input type="text" name="username" placeholder="Email" value="">
        <input type="password" placeholder="password" name="password" value="">
        <input type="submit" name="" value="login">
        {% csrf_token %}
      </form>

    {% else %}

    {% if user.teacher %}
      <a href="{% url 'main:teacher' %}">Teacher Enter</a>
      {% else %}
      <a href="{% url 'main:student' %}">Student Enter</a>
      {% endif %}

    {% endif %}


  </body>
</html>
